vendor/
.idea/
.vscode/
dist/*
!dist/.keep
tmp/*
!tmp/phpcs
tmp/phpcs/*
!tmp/phpcs/.keep

composer.lock
infection.log
infection.html
.phpunit.cache/
.phpunit.result.cache

/vendor-bin/**/vendor/
/vendor-bin/**/composer.lock

