{
    "timeout": 20,
    "minMsi": 92,
    "minCoveredMsi": 92,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "html": "infection.html",
        "github": true
    },
    "mutators": {
        "@default": true
    }
}