includes:
	- ../vendor/sebastianknott/coding-standard/config/phpstan/phpstan.neon.dist

parameters:
    paths:
        - ../src
        - ../test
    scanFiles:
        - ../vendor/hamcrest/hamcrest-php/hamcrest/Hamcrest.php
        - ../vendor/sebastianknott/hamcrest-object-accessor/src/functions.php
        - ../vendor/mockery/mockery/library/helpers.php
    scanDirectories:
        - ../vendor
    excludePaths:
        - ../.git
        - ../vendor
    tmpDir: ../tmp/phpstan
    ignoreErrors:
        - identifier: argument.named